body {
    background-color: red;
    h1 {
        &.title {
            color: blue;
        }
    }
<<<<<<< Updated upstream
    p{color: white;}
||||||| merged common ancestors
=======
}

p {
    color: white;
>>>>>>> Stashed changes
}